APP_NAME=LetsTalk
APP_ENV=dev
APP_KEY=
APP_DEBUG=true
APP_URL=localhost:3000
APP_LOCAL=/

DB_CONNECTION=mongodb
DB_HOST=localhost
DB_DATABASE=letstalk
DB_USERNAME=
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

SENTRY_DSN=